<header>
    <div class="header-container">
        <!-- Logo -->
        <a href="{{ site.baseurl }}/" class="logo">Christian Bianchi</a>

        <!-- Hamburger Menu -->
        <button class="header__menu-toggle" aria-label="Toggle Menu" aria-expanded="false">☰</button>

        <!-- Navigation Links -->
        <nav class="header__nav" role="navigation" aria-label="Main Menu">
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/about">About Me</a>
            <a href="#projects">Projects</a>
        </nav>
    </div>
</header>
